@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    justify-items: center;
}
.div {
    height: 120px;
    width: 100%; 
}

.contenedor-efemerides {
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.rectangulo-efemerides {
    display: flex;
    background-color: #eaf0fa; /* Diferente del fondo */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
}

.rectangulo-efemerides:hover {
    transform: translateY(-5px);
}

.rectangulo-efemerides img {
    width: 30%;
    height: 100%; /* La imagen toma la altura del rectángulo */
    object-fit: cover; /* Se ajusta y recorta lo que sobra */
    display: block; /* Evita espacios fantasmas */
    border-radius: 15px; 
    align-self: center; 
}

.contenido-efemerides {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.etiqueta-efemerides {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.etiqueta-efemerides {
    background-color: #2a4b9b; /* Azul */
    text-align: center;
}
p {
    line-height: 1.5;
}
/*--- AJUSTE DE TAMAÑO DE IMAGENES DE LOS RECTANGULOS ---*/

.rectangulo-efemerides:nth-of-type(1) img {         /*MEDIANTE ESTE METODO SELECCIONAS LAS IMAGENE POR SEPARADO PARA */
    width: 42%;                                     /*MODIFICARLAS MEDIANTE SU ORDEN - TE AHORRAS HACER MIL CLASES*/
    height: auto;
}
.rectangulo-efemerides:nth-of-type(2) img {         
    width: 40%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(3) img {         
    width: 40%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(4) img {         
    width: 38%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(5) img {         
    width: 35%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(6) img {         
    width: 40%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(7) img {         
    width: 40%;                                     
    height: auto;
}
.rectangulo-efemerides:nth-of-type(8) img {         
    width: 38%;                                     
    height: auto;
}
/*--- ---*/
footer {
    width: 100%;
}

