/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */

* {
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0583F2;
    padding: 0 80px;
    height: 120px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra sutil */
}

/* LOGO */
header img {
    height: 80px;
    object-fit: contain;
}

/* NAV */
header nav {
    padding-right: 40px;
}
.menu-nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu-nav ul li {
    position: relative;
}

.menu-nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 10px;
    transition: background 0.3s, border-radius 0.3s;
    border-radius: 6px;
}

.menu-nav ul li:hover > a {
    background-color: #0571cf;
}

/* Dropdowns */
.menu-nav ul ul {
    display: none;
    position: absolute;
    margin-top: 8px;
    top: 100%;
    background: white;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu-nav ul li:hover > ul {
    display: block;
}

.menu-nav ul ul li a {
    color: #0583F2;
    padding: 10px 15px;
    display: block;
    white-space: nowrap;
}

.menu-nav ul ul li:hover a {
    background-color: #f0f0f0;
}