@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.div {
  height: 120px;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 15px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.tab-button.active {
  background: #0077cc;
  color: white;
}

.tab-content {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.tab-content.active {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

table th {
  background: #f0f0f0;
}
