@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* DIVISOR */
.div {
  height: 120px;
  width: 100%;
}

/* ESTILO DE CONTENIDO GENERAL */
.contenido .seccion {
  width: 100%;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contenido .seccion h2 {
  font-size: 42px;
  color: #2a2a90;
  text-align: center;
  padding-bottom: 20px;
}

.contenido .seccion p {
  font-size: 18px;
  font-weight: 500;
  max-width: 1000px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
}

/* PRIMERA SECCIÓN */
.seccion.primera {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.seccion.primera img {
  max-width: 400px;
  border-radius: 12px;
}

/* SEGUNDA SECCIÓN */
.seccion.segunda {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0 20px 20px 0;
  text-align: center;
}

.imagenes .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imagenes .grupo h3 {
  font-size: 20px;
  color: #2a2a90;
  margin-bottom: 10px;
}

.imagenes img {
  width: 100%;
  max-width: 280px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
